In [1]:
# import libraries
import numpy as np
import pandas as pd
from matplotlib.pyplot import subplots
import sklearn.model_selection as skm

In [2]:
Original_data = pd.read_csv(r'D:\william\OneDrive - UW-Madison\UW-Madison\722\-2025AAE722_William-J\Final Project\DataCoSupplyChainDataset1.csv')
data = Original_data.copy()
data.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [5]:
filtered_data = data[['Type','Benefit per order','Delivery Status','Late_delivery_risk','Category Name','Customer Country','Department Name','Market','order date (DateOrders)','Order Item Discount Rate','Order Item Product Price','Order Item Total','Order Status','Shipping Mode']]
filtered_data.head()

,Type,Benefit per order,Delivery Status,Late_delivery_risk,Category Name,Customer Country,Department Name,Market,order date (DateOrders),Order Item Discount Rate,Order Item Product Price,Order Item Total,Order Status,Shipping Mode
0,DEBIT,91.250000,Advance shipping,0,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/31/2018 22:56,0.04,327.75,314.640015,COMPLETE,Standard Class
1,TRANSFER,-249.089996,Late delivery,1,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/13/2018 12:27,0.05,327.75,311.359985,PENDING,Standard Class
2,CASH,-247.779999,Shipping on time,0,Sporting Goods,EE. UU.,Fitness,Pacific Asia,1/13/2018 12:06,0.06,327.75,309.720001,CLOSED,Standard Class
3,DEBIT,22.860001,Advance shipping,0,Sporting Goods,EE. UU.,Fitness,Pacific Asia,1/13/2018 11:45,0.07,327.75,304.809998,COMPLETE,Standard Class
4,PAYMENT,134.210007,Advance shipping,0,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/13/2018 11:24,0.09,327.75,298.250000,PENDING_PAYMENT,Standard Class

In [6]:
# Create a new binary column 'Profitability' based on 'Benefit per order'
filtered_data['Profitability'] = np.where(filtered_data['Benefit per order'] > 0, 1, 0)

C:\Users\User\AppData\Local\Temp\ipykernel_69536\2513385298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Profitability'] = np.where(filtered_data['Benefit per order'] > 0, 1, 0)

In [7]:
# Create dummy variables for 'Type' category
# Fill missing 'Type' values so they become their own category
filtered_data['Type'] = filtered_data['Type'].fillna('Missing')
# Create one-hot / dummy columns (prefix 'Type')
type_dummies = pd.get_dummies(filtered_data['Type'], prefix='Type')
# Append the dummy columns to the dataframe
filtered_data = pd.concat([filtered_data, type_dummies], axis=1)
# Show the first rows to verify new columns
filtered_data.head()

C:\Users\User\AppData\Local\Temp\ipykernel_69536\3513832.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Type'] = filtered_data['Type'].fillna('Missing')

,Type,Benefit per order,Delivery Status,Late_delivery_risk,Category Name,Customer Country,Department Name,Market,order date (DateOrders),Order Item Discount Rate,Order Item Product Price,Order Item Total,Order Status,Shipping Mode,Profitability,Type_CASH,Type_DEBIT,Type_PAYMENT,Type_TRANSFER
0,DEBIT,91.250000,Advance shipping,0,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/31/2018 22:56,0.04,327.75,314.640015,COMPLETE,Standard Class,1,False,True,False,False
1,TRANSFER,-249.089996,Late delivery,1,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/13/2018 12:27,0.05,327.75,311.359985,PENDING,Standard Class,0,False,False,False,True
2,CASH,-247.779999,Shipping on time,0,Sporting Goods,EE. UU.,Fitness,Pacific Asia,1/13/2018 12:06,0.06,327.75,309.720001,CLOSED,Standard Class,0,True,False,False,False
3,DEBIT,22.860001,Advance shipping,0,Sporting Goods,EE. UU.,Fitness,Pacific Asia,1/13/2018 11:45,0.07,327.75,304.809998,COMPLETE,Standard Class,1,False,True,False,False
4,PAYMENT,134.210007,Advance shipping,0,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/13/2018 11:24,0.09,327.75,298.250000,PENDING_PAYMENT,Standard Class,1,False,False,True,False

In [8]:
# Create dummy variables for 'Category Name' category
filtered_data['Category Name'] = filtered_data['Category Name'].fillna('Missing')
category_dummies = pd.get_dummies(filtered_data['Category Name'], prefix='Category Name')
filtered_data = pd.concat([filtered_data, category_dummies], axis=1)
filtered_data.head()

,Type,Benefit per order,Delivery Status,Late_delivery_risk,Category Name,Customer Country,Department Name,Market,order date (DateOrders),Order Item Discount Rate,...,Category Name_Sporting Goods,Category Name_Strength Training,Category Name_Tennis & Racquet,Category Name_Toys,Category Name_Trade-In,Category Name_Video Games,Category Name_Water Sports,Category Name_Women's Apparel,Category Name_Women's Clothing,Category Name_Women's Golf Clubs
0,DEBIT,91.250000,Advance shipping,0,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/31/2018 22:56,0.04,...,True,False,False,False,False,False,False,False,False,False
1,TRANSFER,-249.089996,Late delivery,1,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/13/2018 12:27,0.05,...,True,False,False,False,False,False,False,False,False,False
2,CASH,-247.779999,Shipping on time,0,Sporting Goods,EE. UU.,Fitness,Pacific Asia,1/13/2018 12:06,0.06,...,True,False,False,False,False,False,False,False,False,False
3,DEBIT,22.860001,Advance shipping,0,Sporting Goods,EE. UU.,Fitness,Pacific Asia,1/13/2018 11:45,0.07,...,True,False,False,False,False,False,False,False,False,False
4,PAYMENT,134.210007,Advance shipping,0,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/13/2018 11:24,0.09,...,True,False,False,False,False,False,False,False,False,False

In [9]:
filtered_data['Department Name'] = filtered_data['Department Name'].fillna('Missing')
department_dummies = pd.get_dummies(filtered_data['Department Name'], prefix='Department Name')
filtered_data = pd.concat([filtered_data, department_dummies], axis=1)
filtered_data.head()

,Type,Benefit per order,Delivery Status,Late_delivery_risk,Category Name,Customer Country,Department Name,Market,order date (DateOrders),Order Item Discount Rate,...,Department Name_Book Shop,Department Name_Discs Shop,Department Name_Fan Shop,Department Name_Fitness,Department Name_Footwear,Department Name_Golf,Department Name_Health and Beauty,Department Name_Outdoors,Department Name_Pet Shop,Department Name_Technology
0,DEBIT,91.250000,Advance shipping,0,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/31/2018 22:56,0.04,...,False,False,False,True,False,False,False,False,False,False
1,TRANSFER,-249.089996,Late delivery,1,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/13/2018 12:27,0.05,...,False,False,False,True,False,False,False,False,False,False
2,CASH,-247.779999,Shipping on time,0,Sporting Goods,EE. UU.,Fitness,Pacific Asia,1/13/2018 12:06,0.06,...,False,False,False,True,False,False,False,False,False,False
3,DEBIT,22.860001,Advance shipping,0,Sporting Goods,EE. UU.,Fitness,Pacific Asia,1/13/2018 11:45,0.07,...,False,False,False,True,False,False,False,False,False,False
4,PAYMENT,134.210007,Advance shipping,0,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/13/2018 11:24,0.09,...,False,False,False,True,False,False,False,False,False,False

In [10]:
filtered_data['Market'] = filtered_data['Market'].fillna('Missing')
market_dummies = pd.get_dummies(filtered_data['Market'], prefix='Market')
filtered_data = pd.concat([filtered_data, market_dummies], axis=1)
filtered_data.head()

,Type,Benefit per order,Delivery Status,Late_delivery_risk,Category Name,Customer Country,Department Name,Market,order date (DateOrders),Order Item Discount Rate,...,Department Name_Golf,Department Name_Health and Beauty,Department Name_Outdoors,Department Name_Pet Shop,Department Name_Technology,Market_Africa,Market_Europe,Market_LATAM,Market_Pacific Asia,Market_USCA
0,DEBIT,91.250000,Advance shipping,0,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/31/2018 22:56,0.04,...,False,False,False,False,False,False,False,False,True,False
1,TRANSFER,-249.089996,Late delivery,1,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/13/2018 12:27,0.05,...,False,False,False,False,False,False,False,False,True,False
2,CASH,-247.779999,Shipping on time,0,Sporting Goods,EE. UU.,Fitness,Pacific Asia,1/13/2018 12:06,0.06,...,False,False,False,False,False,False,False,False,True,False
3,DEBIT,22.860001,Advance shipping,0,Sporting Goods,EE. UU.,Fitness,Pacific Asia,1/13/2018 11:45,0.07,...,False,False,False,False,False,False,False,False,True,False
4,PAYMENT,134.210007,Advance shipping,0,Sporting Goods,Puerto Rico,Fitness,Pacific Asia,1/13/2018 11:24,0.09,...,False,False,False,False,False,False,False,False,True,False